/* paddingi i marginesy sa dodane z bootstrapa */

body {
    font-family: "Montserrat";
    text-align: center;
}

#title {
    background-color: #ff4c68;
    text-align: left;
    color: #fff;
}

/* mozna tak nadpisywac czy jest jakis inny sposób */

/* tam gdzie dodajesz  padding dodaj klasę "my padding" */

.container-fluid.my-padding {
    padding: 3% 14% 7%;
}

/* dodana nowa klasa, wole padding w % w tym przypadku*/

.btn-download {
    margin: 5% 3% 5% 0%;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.7rem;
    font-weight: bold;
}

.big-text {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

.title-image {
    width: 60%;
    position: absolute;
    transform: rotate(25deg);
    right: 15%;
    /* Zamiast tego: załatwi za nas "#title {text align}"
    margin: auto;
    display: block; */
}

#features {
    z-index: 1000;
    background-color: white;
    position: relative;
}

.features-box {
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

.features-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.features-box>p {
    color: #8f8f8f;
}

.carousel-header {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel {
    background-color: #ef8172;
    color: white;
}

.carousel-img {
    width: 10%;
    margin: 3% 0 2% 0;
}

.carousel-info {
    display: block;
}

@media only screen and (max-width: 1028px) {
    .title-image {
        position: static;
        transform: rotate( 0deg);
    }
    #title {
        text-align: center;
    }
    .carousel-img {
        width: 20%;
    }
}